{% extends 'base.html.twig' %}

{% block title %}Tous les films
{% endblock %}

{% block body %}
	<main>
		<h1 class="text-center m-4">Tous les films disponibles</h1>
		{% for movie in movies %}
			<article class="movie-card">
				<img src="{{ movie.poster }}" class="card-img-top" alt="...">
				<div class="movie-card-body">
					<h5 class="card-title fs-1 mt-2">{{ movie.title }}</h5>
					<p class="card-text">{{ movie.synopsis }}</p>
					<p>Catégorie :
						{{ movie.category.name }}</p>
					<a href="{{ path("movie_show", {id: movie.id }) }}" class="btn btn-primary">Détails du film</a>
				</div>
			</acticle>

		{% else %}
			Aucun film trouvé en base de données
		{% endfor %}

		<a href="{{ path('app_index') }}" class="btn btn-light m-5">Retour à l'accueil</a>
	</main>

{% endblock %}
