{% extends 'base.html.twig' %}

{% block title %}Film #{{movie.id}}
{% endblock %}

{% block body %}
<main>
	<article class="movie-card">
		<img src="{{ movie.poster }}" alt="{{ movie.title }}">
		<h1 class="mt-4">{{ movie.title }}</h1>
		<p>{{ movie.synopsis }}</p>
		<p>Catégorie :
			{{ movie.category.name }}</p>
	</article>

	<a href="{{ path('movie_index') }}" class="btn btn-light m-5">Retour à la liste des films</a>
	</main>

{% endblock %}
