{% extends 'base.html.twig' %}

{% block title %}Tous les films
{% endblock %}

{% block body %}
	<main>
		<h1 class="text-center m-4">Toutes les séries disponbiles</h1>
		{% for program in programs %}
			<article class="movie-card">
				<img src="{{ program.poster }}" class="card-img-top" alt="...">
				<div class="movie-card-body">
					<h5 class="card-title fs-1 mt-2">{{ program.title }}</h5>
					<p class="card-text">{{ program.synopsis }}</p>
					<p>Catégorie :
						{{ program.category.name }}</p>
					<a href="{{ path("program_show", {id: program.id }) }}" class="btn btn-primary">Détails</a>
				</div>
			</acticle>

		{% else %}
			Aucune série trouvée
		{% endfor %}

		<a href="{{ path('app_index') }}" class="btn btn-light m-5">Retour à l'accueil</a>
	</main>

{% endblock %}
