{% extends 'base.html.twig' %}

{% block title %}Série - {{program.title}}
{% endblock %}

{% block body %}
	<main>
		<article class="movie-card">
			<img src="{{ program.poster }}" alt="{{ program.title }}">
			<h1 class="mt-4">{{ program.title }}</h1>
			<p>{{ program.synopsis }}</p>
			<p>Catégorie :
				{{ program.category.name }}</p>
			<h2>Saisons disponibles</h2>
			{% for season in program.seasons %}
				<article class="movie-card">
					<h3>Saison {{ season.number }}</h3>
					<p>{{ season.year }}</p>
					<p>{{ season.description }}</p>
					<a href="{{ path('program_season_show', {programId: program.id, seasonId: season.id}) }}" class="btn btn-light m-5">Détails de la saison</a>
				</acticle>

			{% else %}
				Aucune saison disponbile
			{% endfor %}
		</article>


		<a href="{{ path('program_index') }}" class="btn btn-light m-3">Retour à la liste des séries</a>
	</main>

{% endblock %}
