<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<div class="container">
					<a class="navbar-brand" aria-current="page" href="{{ path('app_index') }}"><img src="{{ asset('build/images/bobine-cinema.webp') }}" alt="illustration d'une bobine de cinéma" class="film-roll"></a>
				</div>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-dark px-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Films
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('movie_index') }}">Tous les films</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('movie_new') }}">Ajouter un film</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-dark px-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Séries
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('program_index') }}">Toutes les séries</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('program_new') }}">Ajouter une série</a>
						</li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-dark px-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Catégories
					</a>
					<ul class="dropdown-menu">
						<li>
							<a class="dropdown-item" href="{{ path('category_index') }}">Toutes les catégories</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('category_new') }}">Ajouter une catégorie</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
